federator_number               = 1
wallet_seed                    = "<<HATHOR-WALLET-SEED>>"
wallet_network                 = "<<testnet/mainnet>>"
wallet_server                  = "<<https://node1.testnet.hathor.network/v1a/>>"
wallet_multisig_max_signatures = 2
wallet_multisig_num_signatures = 2
wallet_pubkeys                 = "<<HATHOR-MULTISIG-PUBKEYS>>"
wallet_debug_long              = "all"
wallet_enabled_plugins         = "debug pubsub"
wallet_plugin_name             = "pubsub"
wallet_plugin_file             = "hathor_pubsub.js"
federator_key                  = "<<YOUR-FEDERATOR-WALLET-KEY>>"
etherscan_key                  = "<<YOUR-ETHERSCAN-KEY>>"
evm_network                    = "<<sepolia>>"
bridge_address                 = "0x554b63f926a8120242c10e69a61fff46abeda07d"
federation_address             = "0x933a5049dea3ba93aeb0a79f516e83d6ad206b8a"
evm_multisig_address           = "0xab2a1321d4a049d67bdb8ac05cc3e036606b9383"
allow_tokens_address           = "0xbf52a73032039f274155e2467aa31de6ef1310f5"
evm_chain_id                   = <<80001>>
test_token                     = "0x995491ebafe3e286201bf22af1af9803b5c5d9b5"
evm_host                       = "https://polygon-mumbai.infura.io/v3/<<INFURA_KEY>>"
from_block                     = 46431880
hathor_network                 = "golf"
hathor_chain_id                = 31
hathor_min_confirmations       = 2
gcp_project_id                 = "hathor-coordinator"
gcp_repository                 = "hathor"
wallet_key                     = "27b8d9dc-d046-76dc-6fca-d6f94b1d6157"