node_modules
federator.log
.DS_Store
.idea
.vscode

# dotenv environment variables file
.env
.env.test
.env.prod
**.env

federator/built

federator/package-lock.json
server/package-lock.json

**.tfvars
**.terraform*
**.tfstate*

.rabbitmq/prometheus/prometheus.yml
.rabbitmq/promtail/**.yaml