services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: hathor_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - ./rabbitmq.config:/etc/rabbitmq/rabbitmq.config:ro
      - ./rabbitmq_definitions.json:/etc/rabbitmq/definitions.json:ro
  
  init-rabbitmq:
    image: alpine:3.12
    container_name: init_rabbitmq_container
    depends_on:
      - rabbitmq
    entrypoint: |
      /bin/sh -c "
      apk add --no-cache curl;
      until curl -s -u guest:guest http://rabbitmq:15672/api/healthchecks/node | grep -q 'ok'; do
        echo 'Waiting for RabbitMQ...'
        sleep 2
      done
      echo 'RabbitMQ is up and running.'
      touch /tmp/initialized
      while true; do sleep 30; done
      "
    healthcheck:
      test: ["CMD-SHELL", "[ -f /tmp/initialized ] || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    volumes:
      - ./init-rabbitmq.sh:/init-rabbitmq.sh

  hathor-wallet:
    env_file:
      - .env
    image: toggera/hathor-wallet-rabbitmq:latest
    container_name: hathor_wallet_container
    depends_on:
      init-rabbitmq:
        condition: service_healthy
    ports:
      - "8000:8000"

  hathor-federator:
    image: toggera/hathor-tokenbridge:latest
    container_name: hathor_tokenbridge
    depends_on:
      - hathor-wallet
    ports:
      - "5000:5000"
    environment:
      HTR_CONFIG: '{"name":"${HATHOR_NAME}","chainId":${HATHOR_CHAIN_ID},"fromBlock":${HATHOR_FROM_BLOCK},"walletUrl":"${HATHOR_WALLET_URL}","walletKey":"${HEADLESS_API_KEY}","singleWalletId":"${HATHOR_SINGLE_WALLET_ID}","singleSeedKey":"${HATHOR_SINGLE_SEED_KEY}","multisigWalletId":"${HATHOR_MULTISIG_WALLET_ID}","multisigSeedKey":"${HATHOR_MULTISIG_SEED_KEY}","multisigRequiredSignatures":${HEADLESS_MULTISIG_SEED_DEFAULT_NUM_SIGNATURES},"multisigOrder":${HATHOR_MULTISIG_ORDER},"minimumConfirmations":${HATHOR_MINIMUM_CONFIRMATIONS},"eventQueueType":"rabbitmq"}'
      EVM_CONFIG: '{"name":"${EVM_NETWORK}","bridge":"${BRIDGE_ADDRESS}","federation":"${FEDERATION_ADDRESS}","multiSig":"${EVM_MULTISIG_ADDRESS}","allowTokens":"${ALLOW_TOKENS_ADDRESS}","chainId":${EVM_CHAIN_ID},"testToken":"${TEST_TOKEN}","host":"${EVM_HOST}","fromBlock":${FROM_BLOCK}}'