HEADLESS_SEED_DEFAULT={CHANGE}
HEADLESS_API_KEY={CHANGE}
HEADLESS_NETWORK=testnet
HEADLESS_SERVER=https://node1.testnet.hathor.network/v1a/
HEADLESS_MULTISIG_SEED_DEFAULT_MAX_SIGNATURES=4
HEADLESS_MULTISIG_SEED_DEFAULT_NUM_SIGNATURES=4
HEADLESS_MULTISIG_SEED_DEFAULT_PUBKEYS={CHANGE}
HEADLESS_ENABLED_PLUGINS=rabbitmq
HEADLESS_PLUGIN_DEBUG_LONG=all
HEADLESS_PLUGIN_RABBITMQ_QUEUE=main_queue
HEADLESS_PLUGIN_RABBITMQ_URL=amqp://rabbitmq